PORT=4000

DB_PORT=5432
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=123

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=487ca8b83b0359d6096cebbded92391e815ab55668bcc28631a9d2fe3ff57232